h1 {
    color: rgb(2, 41, 28);
}

b {
    color: blue;
}

p {
    color: rgb(78, 0, 141);
}


h1 {
    text-align: center;
}

.follow-image {
    position: fixed;
    top: 20px;
    right: 20px;
}

.follow-image img {
    width: 150px;
    height: auto;
}